<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Leon Debnath</title>

    </head>

    <style>
        h1.title{
            font-family: "Lucida Console",
            background-color: "DarkGray",
            "Courier New", monospace;
        }
         img.profile{
            border-radius: 50%;
            padding: 5px;
            width: 256px;
            height: 256px;
        }
        ul.menu{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        a.menu_item{
            display: block;
            width: 60px;
            background-color: "Blue",
        }
    </style>

    <body style="background-color:LightGrey;">
        <h1 class="title">Leon Debnath</h1>
        <img class="profile" src="profile_img.jpg" alt="Image Not Found">
         <ul class="menu">
            <li><a class="menuItem" href="http://leondebnath.com">Home</a></li>
            <li><a class="menuItem" href="https://leon-debnath.herokuapp.com/page_1">Page 1</a></li>
            <li><a class="menuItem" href="https://leon-debnath.herokuapp.com/page_2">Page 2</a></li>
        </ul>
        <h2>Welcome to the Internet</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
            ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.  <a href="https://www.w3schools.com">This is a link</a>
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
            ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
            ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
            ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.
        </p>
    </body>
</html>